<h1>Welcome to the Question Board</h1>

<p>To see answers and more information, click on a question! To add a question, use the form at the bottom of this page.</p>

{{#each model as |question|}}
  {{question-tile question=question}}
{{/each}}
