<h1>Welcome to the Question Board</h1>

<p>To see answers and more information, click on a question! To add a question, use the form at the bottom of this page.</p>

{{#each model.questions as |question|}}
  {{question-tile edit="edit" question=question delete="delete"}}
{{/each}}

{{new-question save="save"}}
